<launch>
    <group ns="new_ns">
        <node name="sender" pkg="rospy_tutorials" type="talker.py" output="screen"/>
        <node name="receiver" pkg="rospy_tutorials" type="listener.py" output="screen"/>
        <include file="$(find super_Reznikov__study_pkg)/launch/another_one.launch" />
    </group>
</launch>