<launch>
    <!-- Polynominal node - обрабатывает запросы -->
    <node name="polynomial" pkg="super_Reznikov__study_pkg" type="polynomial_node.py" output="screen"/>
    
    <!-- Summing node - суммирует результаты -->
    <node name="summing" pkg="super_Reznikov__study_pkg" type="summing_node.py" output="screen"/>
</launch>